.popular{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 205, 205);
    
}
.popC{

 display: flex;
 padding-top: 15%;
 padding-bottom: 10%;
 justify-content: space-around;

 
 
 

}